body {
    background-color: powderblue;
    
  }
  h1 {
    color: blue;
    text-align: center;
    background-color: rgb(207, 166, 174);
  }
  h2 {
      color:blue;
      background-color:rgb(207, 166, 174);
  
  }
  section ol{
      color: cyan;
  }