body {
  background-color:beige;
  
}
h1 {
  color:rgba(7, 26, 87, 0.938);
  text-align: center;
  background-color: rgb(230, 199, 205);
  border: 2px solid black;

}
h2 {
    color:rgba(7, 26, 87, 0.938);
    background-color:rgb(230, 199, 205);
    border: 2px solid black;

}
html body main  ol {
  color:rgba(7, 26, 87, 0.938);
  
  

  
}

html body main  ul {
  color:rgba(7, 26, 87, 0.938);
  
  

  
}